#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<form role="form" class="form-inline" action="$!{basePath}/timetask/back/tSTimetask/list.html" method="post"  id="formSubmit">
				<div  class="col-md-10" style="width:100%">
								<div class="panel panel-default">
								  <div class="panel-heading">砍价活动配置列表</div>
								  <div class="panel-body">
								  		<div class="search">
															 <div class="form-group col-sm-3">
															    <label for="id" class="control-label col-sm-3 line34"></label>
															     <div class="col-sm-8">
															    <input type="text" name="id" id="id" value="$!{tSTimetask.id}" class="form-control">
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="createBy" class="control-label col-sm-3 line34"></label>
															     <div class="col-sm-8">
															    <input type="text" name="createBy" id="createBy" value="$!{tSTimetask.createBy}" class="form-control">
															  	</div>
															 </div>
															<div class="form-group col-sm-3">
															    <label for="createDate" class="control-label col-sm-3 line34"></label>
															     <div class="col-sm-8">
															    <input type="text" name="createDate" id="createDate" value="$!dateTool.format('yyyy-MM-dd',$!{tSTimetask.createDate})" class="form-control">
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="createName" class="control-label col-sm-3 line34"></label>
															     <div class="col-sm-8">
															    <input type="text" name="createName" id="createName" value="$!{tSTimetask.createName}" class="form-control">
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="cronExpression" class="control-label col-sm-3 line34"></label>
															     <div class="col-sm-8">
															    <input type="text" name="cronExpression" id="cronExpression" value="$!{tSTimetask.cronExpression}" class="form-control">
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="isEffect" class="control-label col-sm-3 line34"></label>
															     <div class="col-sm-8">
															    <input type="text" name="isEffect" id="isEffect" value="$!{tSTimetask.isEffect}" class="form-control">
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="isStart" class="control-label col-sm-3 line34"></label>
															     <div class="col-sm-8">
															    <input type="text" name="isStart" id="isStart" value="$!{tSTimetask.isStart}" class="form-control">
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="taskDescribe" class="control-label col-sm-3 line34"></label>
															     <div class="col-sm-8">
															    <input type="text" name="taskDescribe" id="taskDescribe" value="$!{tSTimetask.taskDescribe}" class="form-control">
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="taskId" class="control-label col-sm-3 line34"></label>
															     <div class="col-sm-8">
															    <input type="text" name="taskId" id="taskId" value="$!{tSTimetask.taskId}" class="form-control">
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="updateBy" class="control-label col-sm-3 line34"></label>
															     <div class="col-sm-8">
															    <input type="text" name="updateBy" id="updateBy" value="$!{tSTimetask.updateBy}" class="form-control">
															  	</div>
															 </div>
															<div class="form-group col-sm-3">
															    <label for="updateDate" class="control-label col-sm-3 line34"></label>
															     <div class="col-sm-8">
															    <input type="text" name="updateDate" id="updateDate" value="$!dateTool.format('yyyy-MM-dd',$!{tSTimetask.updateDate})" class="form-control">
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="updateName" class="control-label col-sm-3 line34"></label>
															     <div class="col-sm-8">
															    <input type="text" name="updateName" id="updateName" value="$!{tSTimetask.updateName}" class="form-control">
															  	</div>
															 </div>
											  <button type="submit" class="btn btn-primary">搜  索</button>
											  <div class="clearfix"></div>
								  		</div>
								  		<div id="legend">
								          <legend  class="le"><button type="button" class="btn btn-primary" onclick="doUrl('$!{basePath}/timetask/back/tSTimetask/toAdd.html')" >新增</button></legend> 
								        </div>
								        <table class="table table-striped">
									        <thead>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
													<th></th>
						                			<th>操作</th>
									        </thead>
									        <tobody>
									    	  #if($!{pageInfos})
								                #foreach($!{info} in $!{pageInfos})
									            	<tr>			
																	<td>$!{info.id}</td>
																	<td>$!{info.createBy}</td>
																	<td>$!dateTool.format("yyyy-MM-dd",$!{info.createDate})</td>
																	<td>$!{info.createName}</td>
																	<td>$!{info.cronExpression}</td>
																	<td>$!{info.isEffect}</td>
																	<td>$!{info.isStart}</td>
																	<td>$!{info.taskDescribe}</td>
																	<td>$!{info.taskId}</td>
																	<td>$!{info.updateBy}</td>
																	<td>$!dateTool.format("yyyy-MM-dd",$!{info.updateDate})</td>
																	<td>$!{info.updateName}</td>
										                <td class="last">
							                			<a href="javascript:doUrl('$!{basePath}/timetask/back/tSTimetask/toEdit.html?id=$!{info.id}')" >编辑</a>
							                			<a href="javascript:delData('$!{basePath}/timetask/back/tSTimetask/doDelete.html?id=$!{info.id}')">删除</a>
							                			<a href="javascript:doUrl('$!{basePath}/timetask/back/tSTimetask/toDetail.html?id=$!{info.id}')">详情</a>
						                				</td>
									           		</tr>
									             #end
									    	 #end
									         </tobody>
									    </table>
										<div class="text-right">
											<!--公用翻页代码-->
							                #set($attr='formSubmit')
							            	#showPageList($pageInfos $attr)
							                <!--END公用翻页代码-->
										</div>
								  </div>	
								</div>
				</div>  
				</form>
		</div>
	</div>
</body>
</html>