#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<form role="form" class="form-inline" action="$!{basePath}/activity/back/activity/list.html" method="post"  id="formSubmit">
				<div  class="col-md-10" style="width:100%">
								<div class="panel panel-default">
								  <div class="panel-heading">活动列表</div>
								  <div class="panel-body">
								  		<div class="search">
															 <div class="form-group col-sm-3">
															    <label for="title" class="control-label col-sm-3 line34">活动标题</label>
															     <div class="col-sm-8">
															    <input type="text" name="title" id="title" value="$!{activity.title}" class="form-control">
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="addr" class="control-label col-sm-3 line34">活动地址</label>
															     <div class="col-sm-8">
															    <input type="text" name="addr" id="addr" value="$!{activity.addr}" class="form-control">
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="isdelete" class="control-label col-sm-3 line34">是否删除</label>
															     <div class="col-sm-8">
															    <select name="isdelete" id="isdelete"  value="$!{activity.isdelete}" class="form-control" >
															    <option value="" >请选择是否已删除</option>
															    <option value="0" #if('0' eq $!{activity.isdelete})selected#end>未删除</option>
															    <option value="1" #if('1' eq $!{activity.isdelete})selected#end>已删除</option>
															    </select>
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="isvipview" class="control-label col-sm-3 line34">查看权限</label>
															     <div class="col-sm-8">
															  	<select name="isvipview" id="isvipview"  value="$!{activity.isvipview}" class="form-control" >
															    <option value="" >根据查看权限进行查询</option>
															    <option value="0" #if('0' eq $!{activity.isvipview})selected#end>所有会员有可查看</option>
															    <option value="1" #if('1' eq $!{activity.isvipview})selected#end>只有VIP才可查看</option>
															    </select>
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="isvipparty" class="control-label col-sm-3 line34">参加权限</label>
															     <div class="col-sm-8">
															  	<select name="isvipparty" id="isvipparty"  value="$!{activity.isvipparty}" class="form-control" >
															    <option value="" >根据参加权限进行查询</option>
															    <option value="0" #if('0' eq $!{activity.isvipparty})selected#end>所有会员有可参加</option>
															    <option value="1" #if('1' eq $!{activity.isvipparty})selected#end>只有VIP才可参加</option>
															    </select>
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="areaid" class="control-label col-sm-3 line34">所属区域</label>
															     <div class="col-sm-8">
														<select name="areaid" id="areaid"  value="$!{activity.areaid}" class="form-control" >
													      <option value="" >请选择文章所属板块</option>
													       	#if($!{areaInfos})
													                #foreach($!{info} in $!{areaInfos})
													               	 <option value="$!{info.dictcode}" #if($!{info.dictcode} eq $!{activity.areaid})selected#end>$!{info.dictname}</option>
														             #end
													    	 	#end
													      </select>
															  	</div>
															 </div>
											  <button type="submit" class="btn btn-primary">搜  索</button>
											  <div class="clearfix"></div>
								  		</div>
								  		<div id="legend">
								          <legend  class="le"><button type="button" class="btn btn-primary" onclick="doUrl('$!{basePath}/activity/back/activity/toAdd.html')" >新增</button></legend> 
								        </div>
								        <table class="table table-striped">
									        <thead>
													<th>活动标题</th>
													<th>限定人数</th>
													<th>剩余名额</th>
													<th>活动时间</th>
													<th>报名截止时间</th>
						                			<th>操作</th>
									        </thead>
									        <tobody>
									    	  #if($!{pageInfos})
								                #foreach($!{info} in $!{pageInfos})
									            	<tr>			
																	<td>$!{info.title}</td>
																	<td>$!{info.totalpepole}</td>
																	<td>$!{info.remainpepole}</td>
																	<td>$!dateTool.format("yyyy-MM-dd",$!{info.activitytime})</td>
																	<td>$!dateTool.format("yyyy-MM-dd",$!{info.endtime})</td>
										                <td class="last">
							                			<a href="javascript:doUrl('$!{basePath}/activity/back/activity/toEdit.html?id=$!{info.id}')" >编辑</a>
							                			<a href="javascript:delData('$!{basePath}/activity/back/activity/doDel.html?id=$!{info.id}')">删除</a>
							                			<a href="javascript:doUrl('$!{basePath}/activity/back/activity/toDetail.html?id=$!{info.id}')">详情</a>
							                			<a href="javascript:doUrl('$!{basePath}/activitybookrecord/back/activitybookrecord/list.html?activityId=$!{info.id}')">报名人员列表</a>
						                				</td>
									           		</tr>
									             #end
									    	 #end
									         </tobody>
									    </table>
										<div class="text-right">
											<!--公用翻页代码-->
							                #set($attr='formSubmit')
							            	#showPageList($pageInfos $attr)
							                <!--END公用翻页代码-->
										</div>
								  </div>	
								</div>
				</div>  
				</form>
		</div>
	</div>
</body>
</html>