#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<form role="form" class="form-inline" action="$!{basePath}/appmodel/back/appmodel/list.html" method="post"  id="formSubmit">
				<div  class="col-md-10" style="width:100%">
								<div class="panel panel-default">
								  <div class="panel-heading">应用列表</div>
								  <div class="panel-body">
								  		<div class="search">
															 <div class="form-group col-sm-3">
															    <label for="dictinfoid" class="control-label col-sm-3 line34">模块类型</label>
															     <div class="col-sm-8">
														<select name="dictinfoid" id="dictinfoid"  value="$!{appmodel.dictinfoid}" class="form-control"  datatype="*">
													      <option value="" >请选择文章所属板块</option>
													       	#if($!{areaInfos})
													                #foreach($!{info} in $!{idctInfos})
													               	 <option value="$!{info.id}" #if("$!{appmodel.dictinfoid}" eq $!{info.id})selected#end>$!{info.dictname}</option>
														             #end
													    	 	#end
													      </select>			  
															  
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="active" class="control-label col-sm-3 line34">是否启用</label>
															     <div class="col-sm-8">
											 <select name="active" id="active"  value="$!{appmodel.active}" class="form-control" >
											 <option value=""  >根据状态查询</option>
															    <option value="0" #if('0' eq $!{appmodel.active})selected#end>不可用状态</option>
															    <option value="1" #if('1' eq $!{appmodel.active})selected#end>启用状态</option>
															    </select>				    
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="appname" class="control-label col-sm-3 line34">模块名称</label>
															     <div class="col-sm-8">
															    <input type="text" name="appname" id="appname" value="$!{appmodel.appname}" class="form-control">
															  	</div>
															 </div>
											  <button type="submit" class="btn btn-primary">搜  索</button>
											  <div class="clearfix"></div>
								  		</div>
								  		<div id="legend">
								          <legend  class="le"><button type="button" class="btn btn-primary" onclick="doUrl('$!{basePath}/appmodel/back/appmodel/toAdd.html')" >新增</button></legend> 
								        </div>
								        <table class="table table-striped">
									        <thead>
													<th>排序</th>
													<th>名称</th>
													<th>模块标签</th>
													<th>模块代码</th>
													<th>活动新增地址</th>
						                			<th>操作</th>
									        </thead>
									        <tobody>
									    	  #if($!{pageInfos})
								                #foreach($!{info} in $!{pageInfos})
									            	<tr>			
																	<td>$!{info.order}</td>
																	<td>$!{info.appname}</td>
																	<td>$!{info.tag}</td>
																	<td>$!{info.code}</td>
																	<td>$!{info.newacturl}</td>
										                <td class="last">
							                			<a href="javascript:doUrl('$!{basePath}/appmodel/back/appmodel/toEdit.html?id=$!{info.id}')" >编辑</a>
							                			<a href="javascript:delData('$!{basePath}/appmodel/back/appmodel/doDelete.html?id=$!{info.id}')">删除</a>
							                			<a href="javascript:doUrl('$!{basePath}/appmodel/back/appmodel/toDetail.html?id=$!{info.id}')">详情</a>
						                				</td>
									           		</tr>
									             #end
									    	 #end
									         </tobody>
									    </table>
										<div class="text-right">
											<!--公用翻页代码-->
							                #set($attr='formSubmit')
							            	#showPageList($pageInfos $attr)
							                <!--END公用翻页代码-->
										</div>
								  </div>	
								</div>
				</div>  
				</form>
		</div>
	</div>
</body>
</html>