#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<form role="form" class="form-inline" action="$!{basePath}/userinfo/back/userinfo/list.html" method="post"  id="formSubmit">
				<div  class="col-md-10" style="width:100%">
								<div class="panel panel-default">
								  <div class="panel-heading">会员列表</div>
								  <div class="panel-body">
								  		<div class="search">
															 <div class="form-group col-sm-3">
															    <label for="nickname" class="control-label col-sm-3 line34">微信名称</label>
															     <div class="col-sm-8">
															    <input type="text" name="nickname" id="nickname" value="$!{userinfo.nickname}" class="form-control">
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="province" class="control-label col-sm-3 line34">省份</label>
															     <div class="col-sm-8">
															    <input type="text" name="province" id="province" value="$!{userinfo.province}" class="form-control">
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="city" class="control-label col-sm-3 line34">城市</label>
															     <div class="col-sm-8">
															    <input type="text" name="city" id="city" value="$!{userinfo.city}" class="form-control">
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="sex" class="control-label col-sm-3 line34">性别</label>
															     <div class="col-sm-8">
															    <select name="sex" id="sex"  value="$!{userinfo.sex}" class="form-control" > 
															    		<option value="" >请选择</option>
													      				<option value="1" >男</option>
													      				<option value="2" >女</option>
													      		</select>
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="country" class="control-label col-sm-3 line34">国家</label>
															     <div class="col-sm-8">
															    <input type="text" name="country" id="country" value="$!{userinfo.country}" class="form-control">
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="subscribe" class="control-label col-sm-3 line34">关注状态 </label>
															     <div class="col-sm-8">
															     <select name="subscribe" id="subscribe"  value="$!{userinfo.subscribe}" class="form-control" > 
															    		<option value="" >请选择</option>
													      				<option value="0" >未关注</option>
													      				<option value="1" >已关注</option>
													      		</select>
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="realname" class="control-label col-sm-3 line34">真实姓名</label>
															     <div class="col-sm-8">
															    <input type="text" name="realname" id="realname" value="$!{userinfo.realname}" class="form-control">
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="code" class="control-label col-sm-3 line34">会员编号</label>
															     <div class="col-sm-8">
															    <input type="text" name="code" id="code" value="$!{userinfo.code}" class="form-control">
															  	</div>
															 </div>
															 <div class="form-group col-sm-3">
															    <label for="mobile" class="control-label col-sm-3 line34">手机号码</label>
															     <div class="col-sm-8">
															    <input type="text" name="mobile" id="mobile" value="$!{userinfo.mobile}" class="form-control">
															  	</div>
															 </div>
											  <button type="submit" class="btn btn-primary">搜  索</button>
											  <div class="clearfix"></div>
								  		</div>
								  		
								        <table class="table table-striped">
									        <thead>
													<th>图像</th>
													<th>微信名称</th>
													<th>省份</th>
													<th>城市</th>
													<th>性别</th>
													<th>国家</th>
													<th>真实姓名</th>
													<th>会员编号</th>
													<th>状态</th>
													<th>是否客服</th>
													<th>手机号码</th>
						                			<th>操作</th>
									        </thead>
									        <tobody>
									    	  #if($!{pageInfos})
								                #foreach($!{info} in $!{pageInfos})
									            	<tr>			
																	<td><img src="$!{info.headpic}" style="border-radius: 50px;width:55px;height:55px;"></td>
																	<td>$!{info.nickname}</td>
																	<td>$!{info.province}</td>
																	<td>$!{info.city}</td>
																	<td>#if("$!{info.sex}" eq 2)女#else 男 #end</td>
																	<td>$!{info.country}</td>
																	<td>$!{info.realname}</td>
																	<td>$!{info.code}</td>
																	<td>#if("$!{info.status}" eq 1)正常#else 异常 #end</td>
																	<td>#if("$!{info.iskf}" eq 1)客服人员  #end</td>
																	<td>$!{info.mobile}</td>
										                <td class="last">
							                			<a href="javascript:doUrl('$!{basePath}/userinfo/back/userinfo/toEdit.html?id=$!{info.id}')" >编辑</a>
							                			<a href="javascript:delData('$!{basePath}/userinfo/back/userinfo/doDelete.html?id=$!{info.id}')">删除</a>
							                			<a href="javascript:doUrl('$!{basePath}/userinfo/back/userinfo/toDetail.html?id=$!{info.id}')">详情</a>
						                				</td>
									           		</tr>
									             #end
									    	 #end
									         </tobody>
									    </table>
										<div class="text-right">
											<!--公用翻页代码-->
							                #set($attr='formSubmit')
							            	#showPageList($pageInfos $attr)
							                <!--END公用翻页代码-->
										</div>
								  </div>	
								</div>
				</div>  
				</form>
		</div>
	</div>
</body>
</html>