<!DOCTYPE html>
<html><head>
<style class="vjs-styles-defaults">

.fullmeasureOuterContentBg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#module479 .fullmeasureOuterContentPage1 .fullmeasureOuterContentBg479 {
    background: url($!{basePath}/content/files/bigred.jpg)  50% 50% / cover;
}
 
.fullmeasureOuterContentBg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
 
.fullmeasureStyle0 {
    background: 0;
}
    </style> 
<title>联系我们 大悟县耐尔广告有限公司</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="format-detection" content="telephone=no,email=no,address=no">
<meta name="renderer" content="webkit"> 
<meta name="mobile-agent" content="format=html5;url=www.naierad.com">
<meta name="keywords" content="大悟|大悟县|大悟耐尔|大悟县耐尔|大悟县广告|大悟广告|耐尔广告|大悟县耐尔广告有限公司|耐尔|广告|喷绘|写真|设计印刷|程序开发|宣传车|水晶/发光字|广告招牌|LED电子屏">
<meta name="description" content="大悟耐尔广告有限公司是一家集设计、制作、代理、发布为一体的专业化广告服务商，专业从事写真喷绘、展览工程、户内外广告制作项目。一流的技术工人,先进的生产设备使我们走在了行业的前列。地址：湖北省孝感市大悟县西岳大道149号，大悟县外环公路汪城路口 耐尔广告加工厂。">
<link rel="icon" href="./1.ico" type="image/x-icon" />
<link type="text/css" href="$!{basePath}/content/files/base2.min.css" rel="stylesheet">
<link type="text/css" href="$!{basePath}/content/files/fkTheme.min.css" rel="stylesheet" id="jzThemeFrame">
 <link type="text/css" href="$!{basePath}/content/files/floatBtn1.min.css" rel="stylesheet">

<link type="text/css" href="$!{basePath}/content/files/style.css" rel="stylesheet">

<script type="text/javascript" src="$!{basePath}/content/files/jQuery-1.10.1.min.js"></script>
<script type="text/javascript" src="$!{basePath}/content/files/script.js"></script>

 <style type="text/css" id="contentAnimationStyle">#module339 .formMiddleContent339{overflow:hidden !important;}
#module339 .formMiddleContent339 .listPhotosList{overflow:hidden !important;}</style><style type="text/css" id="styleBannerBg">.webBannerTable{background:none !important;}
.webBanner{background:none !important;}</style><style type="text/css" id="styleWebSite">#bannerV2 .fk-inBannerListZone{width:1200px;}
#bannerV2 .fk-inBannerListZone{margin-left:-600px;}</style><style type="text/css" id="stylebacktotop">.fk_siteBackToTop{display:none;}
.fk_siteBackToTop{cursor:pointer;}
.fk_siteBackToTop{z-index:9030;}
.fk_siteBackToTop{right:40px;}
.fk_siteBackToTop{bottom:50px;}
.fk_siteBackToTop:hover{background-image:url($!{basePath}/content/files/05_hover.png);}
.fk_siteBackToTop{position:fixed;}
.fk_siteBackToTop{width:50px;}
.fk_siteBackToTop{height:50px;}
.fk_siteBackToTop{margin:1px;}
.fk_siteBackToTop{background-image:url($!{basePath}/content/files/05.png);}</style></head>
<body class="g_body" style="min-width: 1200px;">
 
	<div id="siteBackToTop_small_box" class="fk_siteBackToTop" title="回到顶部" _style="secondStyle_05" style="right: 40px; bottom: 50px; display: none; opacity: 1;"></div><div id="g_main" class="g_main g_col2 ">
	<div id="web" class="g_web ">
		#set($cruid = 22) 
 #parse("content/website/back/navtree.vm")
		<table class="webBannerTable J_webBannerTable" cellpadding="0" cellspacing="0">
			<tbody><tr>
				<td align="center" class="fk-moduleZoneWrap">
					 
					<div id="webBanner" class="webBanner">
						<table class="bannerTable" cellpadding="0" cellspacing="0">
							<tbody><tr>
								<td class="bannerLeft"></td>
								<td class="bannerCenter" align="center" valign="top">
											 
									<div class="bannerTop"></div>
<div id="bannerV2" class="banner extBanner"   style="height: 300px; background: none; overflow: hidden;">	
<div></div><div class="switchGroup switchGroup_bannerV2 billboard billboard1" style="width: 100%; position: relative; height: 300px; overflow: hidden; margin: 0px auto;"><div class="J_billboardItem billboard_item arrowImg billboardItem_1 billboardAnim billboardItem_1_start billboardItem_1_on" style="width: 100%; height: 720px; animation-duration: 1500ms; display: block;overflow:hidden;">
<div class="J_bannerItem f-bannerItem" title="" style="width: 100%; height: 300px; cursor: default; background-position: 50% 50%; background-repeat: no-repeat; overflow: hidden; display: block; outline: none; margin: 0px auto; position: relative; z-index: 1; background-size: cover; background-image: url(&quot;$!{basePath}/content/files/contact_banner.jpg&quot;);">
<div id="fk-inBannerListZone-0" _sys="1" _banid="AD0I7_eXBhACGAAgsNzTxQUouaaqyAQwgA84kAM" style="text-align: left;" class="elemZone elemZoneModule fk-moduleZone fk-inBannerListZone forms sideForms J_moduleZone ">
<div class="fk-inBannerListZoneBg fk-elemZoneBg J_zoneContentBg elemZoneBg"></div>
</div>
</div>
</div>

</div></div>
								</td>
								<td class="bannerRight"></td>
							</tr>
						</tbody></table>
					</div>
				</td>
			</tr>
		</tbody></table>
 
		<div id="fullmeasureTopForms" class="fullmeasureContainer forms fk-fullmeasureForms fullmeasureForms fullmeasureTopForms">
			<div id="module467"  class="form form467 formIndex1 formStyle80 fk-formFullmeasure " title="" style=""  _inpack="0" fmslidestyle="0" fmpage="1" iscarousel="0" displaytime="4" carouselspeed="1">
<div class="fillContentRelative" style="position: relative; z-index: -1; height: 428px; width: 100%; display: none;"></div><div style="position: static;" class="fullmeasureOuterContentPage fullmeasureOuterContentPage1 J_fullmeasurePageShow" page="1">			<div class="fullmeasureOuterContentBg fullmeasureOuterContentBg467 fullmeasureStyle0"></div><div class="fullmeasureOuterContent fullmeasureOuterContent467">
<div class="fullmeasureContent fullmeasureContent467" id="fullmeasureContent467_1" moduleid="467"><div class="fullmeasureContentBg fullmeasureContentBg467"></div><div id="module468" _indexclass="formIndex1" _moduletype="1" _modulestyle="87" _moduleid="468" class="form form468 formStyle87 fk-formPack  formIndex1" _createfrom="0" title="" style="height: 428px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="467" _inpack="0" _inpopupzone="0" _autoheight="0" _global="false" _independent="false">
<div class="J_packContent f-packContent f-packContent468 elemZone elemZoneModule" id="fk-packContent468"><div class="fk-elemZoneBg J_zoneContentBg elemZoneBg f-packContentBg f-packContentBg468"></div>
<div id="module469" bannertitle="文本" class="form form469 formStyle86 siteEditor" title="" style="position: absolute; top: 49px; left: 0px; width: 1200px; height: 79px; animation: none;"  _inpack="468" _inpopupzone="0" _autoheight="0" _global="false" _independent="false">
<div class="lightModuleOuterContent lightModuleOuterContent469"><div class="fk-editor simpleText   "><div style="text-align: center;"><strong style="color: rgb(0, 0, 0); font-family: 宋体; font-size: 12px;"><span style="font-family: 微软雅黑;"><span style="color: rgb(255, 101, 55); font-size: 50px;">联系方式</span></span></strong><span style="color: rgb(0, 0, 0); font-size: 12px;"><span style="font-size: 60px;"></span><span style="font-size: 24px; color: rgb(198, 198, 198);">C</span><span style="font-size: 24px; color: rgb(198, 198, 198);">ontact</span></span><br></div><div><div></div>
</div></div></div>
</div>
<div id="module470" bannertitle="图片" class="form form470 formStyle79" title="" style="position: absolute; top: 218px; left: 553px; width: 75px; height: 62px; animation: none;"  _inpack="468" _inpopupzone="0" _autoheight="0" _global="false" _independent="false">
<div class="lightModuleOuterContent lightModuleOuterContent470"><div class="floatImg floatImg_J floatImg_J_special"><a class="J_floatImg_jump ">
<div class="floatImgWrap" style="margin-top: 0px; width: initial; height: initial;"><div class="forMargin" aaa="false&amp;&amp;false&amp;&amp;false" style="width: initial; height: initial; margin-left: 0px; margin-top: 0px; border-radius: 0px;"><img id="float_img_470" class="float_in_img J_defImage " src="$!{basePath}/content/files/fax.png" alt="AD0I7_eXBhAEGAAgsNzTxQUogIyDlwEwSzg_" style="margin-top: 0px; margin-left: 0px; height: 62px;"></div></div></a>
</div></div>
</div>
<div id="module471" bannertitle="图片"  class="form form471 formStyle79" title="" style="position: absolute; top: 223px; left: 973px; width: 73px; height: 50px; animation: none;"  _inpack="468" _inpopupzone="0" _autoheight="0" _global="false" _independent="false">
<div class="lightModuleOuterContent lightModuleOuterContent471"><div class="floatImg floatImg_J floatImg_J_special"><a class="J_floatImg_jump ">
<div class="floatImgWrap" style="margin-top: 0px; width: initial; height: initial;"><div class="forMargin" aaa="false&amp;&amp;false&amp;&amp;false" style="width: initial; height: initial; margin-left: 0px; margin-top: 0px; border-radius: 0px;"><img id="float_img_471" class="float_in_img J_defImage " src="$!{basePath}/content/files/email.png" alt="AD0I7_eXBhAEGAAgr9zTxQUo06-H9wUwSTgy" style="margin-top: 0px; margin-left: 0px; height: 50px;"></div></div></a>
</div></div>
</div>
<div id="module472" bannertitle="图片"   class="form form472 formStyle79" title="" style="position: absolute; top: 219px; left: 145px; width: 66px; height: 61px; animation: none;"  _inpack="468" _inpopupzone="0" _autoheight="0" _global="false" _independent="false">
<div class="lightModuleOuterContent lightModuleOuterContent472"><div class="floatImg floatImg_J floatImg_J_special"><a class="J_floatImg_jump ">
<div class="floatImgWrap" style="margin-top: 0px; width: initial; height: initial;"><div class="forMargin" aaa="false&amp;&amp;false&amp;&amp;false" style="width: initial; height: initial; margin-left: 0px; margin-top: 0px; border-radius: 0px;"><img id="float_img_472" class="float_in_img J_defImage " src="$!{basePath}/content/files/tel.png" alt="AD0I7_eXBhAEGAAgr9zTxQUoltzgqQMwQjg9" style="margin-top: 0px; margin-left: 0px; height: 61px;"></div></div></a>
</div></div>
</div>
<div id="module473" bannertitle="文本"  class="form form473 formStyle86 siteEditor" title="" style="position: absolute; top: 298px; left: 101px; width: 152px; height: 55px; animation: none;"  _inpack="468" _inpopupzone="0" _autoheight="0" _global="false" _independent="false">
<div class="lightModuleOuterContent lightModuleOuterContent473"><div class="fk-editor simpleText   "><span style=""><span style="line-height: 25px;"><p style="color: rgb(0, 0, 0); font-family: 宋体; font-size: 12px; text-align: center;"><strong style=""><span style="font-family: 微软雅黑; font-size: 16px; color: rgb(255, 101, 55);">客服电话</span></strong></p><p style="color: rgb(0, 0, 0); font-family: 宋体; font-size: 12px; text-align: center;"><span style="font-family: 微软雅黑; font-size: 14px; color: rgb(102, 102, 102);">18872098899</span></p></span></span><div><div></div>
</div><div><div></div>
</div></div></div>
</div>
<div id="module474" bannertitle="文本" class="form form474 formStyle86 siteEditor" title="" style="position: absolute; top: 298px; left: 517px; width: 152px; height: 55px; animation: none;"  _inpack="468" _inpopupzone="0" _autoheight="0" _global="false" _independent="false">
<div class="lightModuleOuterContent lightModuleOuterContent474"><div class="fk-editor simpleText   "><span style=""><span style="line-height: 25px;"><p style="; color: rgb(0, 0, 0); font-family: 宋体; font-size: 12px; text-align: center;"><strong><span style="font-family: 微软雅黑; font-size: 16px; color: rgb(255, 101, 55);">传真号码</span></strong></p><p style="; color: rgb(0, 0, 0); font-family: 宋体; font-size: 12px; text-align: center;"><span style="font-family: 微软雅黑; font-size: 14px; color: rgb(102, 102, 102);">0712-7180399</span></p></span></span><div><div></div>
</div><div><div></div>
</div></div></div>
</div>
<div id="module475" bannertitle="文本" class="form form475 formStyle86 siteEditor" title="" style="position: absolute; top: 297px; left: 938px; width: 152px; height: 55px; animation: none;"  _inpack="468" _inpopupzone="0" _autoheight="0" _global="false" _independent="false">
<div class="lightModuleOuterContent lightModuleOuterContent475"><div class="fk-editor simpleText   "><span style=""><span style="line-height: 25px;"><p style=" color: rgb(0, 0, 0); font-family: 宋体; font-size: 12px; text-align: center;"><strong><span style="font-family: 微软雅黑; font-size: 16px; color: rgb(255, 101, 55);">电子邮箱</span></strong></p><p style="text-align: center;"><span style="font-size: 14px;">89228803@qq.com</span><br></p></span></span><div><div></div>
</div><div><div></div>
</div><div><div></div>
</div></div></div>
</div>
</div></div>
</div></div>
<div class="clearfloat clearfloat467"></div>
</div></div>

<div id="module479"  class="form form479 formIndex2 formStyle80 fk-formFullmeasure " title=""  >
<div class="fillContentRelative" style="position: relative; z-index: -1; height: 248px; width: 100%; display: none;"></div><div style="position: static;" class="fullmeasureOuterContentPage fullmeasureOuterContentPage1 J_fullmeasurePageShow" page="1">			<div class="fullmeasureOuterContentBg fullmeasureOuterContentBg479 fullmeasureStyle0"></div><div class="fullmeasureOuterContent fullmeasureOuterContent479">
<div class="fullmeasureContent fullmeasureContent479" id="fullmeasureContent479_1" moduleid="479"><div class="fullmeasureContentBg fullmeasureContentBg479"></div><div id="module478"  class="form form478 formStyle87 fk-formPack  formIndex1"  title="" style="height: 248px;" >
<div class="J_packContent f-packContent f-packContent478 elemZone elemZoneModule" id="fk-packContent478"><div class="fk-elemZoneBg J_zoneContentBg elemZoneBg f-packContentBg f-packContentBg478"></div>
<div id="module476"  class="form form476 formStyle86 siteEditor" title="" style="position: absolute; top: 72px; left: 7px; width: 438px; height: 114px; animation: none;"  _inpack="478" _inpopupzone="0" _autoheight="0" _global="false" _independent="false">
<div class="lightModuleOuterContent lightModuleOuterContent476"><div class="fk-editor simpleText   "><font style="color: rgb(255, 255, 255); line-height: 50px;" color="rgba(255,255,255,1)"> <strong><span style="font-size: 40px;"><font face="微软雅黑, Microsoft YaHei">更好的服务于各大行业</font></span></strong> <p style="font-size: 12px;"><span style="font-size: 20px;"><font face="微软雅黑, Microsoft YaHei">我们创新，更好，更快，更完善。</font></span></p></font><div><div></div>
</div></div></div>
</div>
<div id="module477" bannertitle="按钮"  class="form form477 formStyle81" title="" style="position: absolute; top: 99px; left: 875px; width: 226px; border: 10px solid transparent; margin-top: -10px; margin-left: -10px; height: 57px; animation: none;" >
<div class="lightModuleOuterContent lightModuleOuterContent477"><div class="J_floatBtnBox floatBtnBox floatBtnStyle101 fk-newAM-FloatBtnStyle101"><a id="module477FlBtn" href="./product.html?colid=3&pid=2" target="_blank" class="middle floatBtn" style="cursor: pointer;border-radius: 26px 26px 26px 26px;background: #ffffff;color:#ff6637;font-size:16px;">点击查看</a></div></div>
</div>
</div></div>
</div></div>
<div class="clearfloat clearfloat479"></div>
</div></div>

<div id="module480" class="form form480 formIndex3 formStyle80 fk-formFullmeasure " title="" style=""   >
<div class="fillContentRelative" style="position: relative; z-index: -1; height: 606px; width: 100%; display: none;"></div><div style="position: static;" class="fullmeasureOuterContentPage fullmeasureOuterContentPage1 J_fullmeasurePageShow" page="1">			<div class="fullmeasureOuterContentBg fullmeasureOuterContentBg480 fullmeasureStyle0"></div><div class="fullmeasureOuterContent fullmeasureOuterContent480">
<div class="fullmeasureContent fullmeasureContent480" id="fullmeasureContent480_1" moduleid="480"><div class="fullmeasureContentBg fullmeasureContentBg480"></div><div id="module481" _indexclass="formIndex1" _moduletype="1" _modulestyle="87" _moduleid="481" class="form form481 formStyle87 fk-formPack  formIndex1" _createfrom="0" title="" style="height: 606px;"  >
<div class="J_packContent f-packContent f-packContent481 elemZone elemZoneModule" id="fk-packContent481"><div class="fk-elemZoneBg J_zoneContentBg elemZoneBg f-packContentBg f-packContentBg481"></div>
<div id="module482"  class="form form482 formStyle86 siteEditor" title="" style="position: absolute; top: 46px; left: 0px; width: 1200px; height: 79px; animation: none;"  >
<div class="lightModuleOuterContent lightModuleOuterContent482"><div class="fk-editor simpleText   "><div style="text-align: center;"><strong style="color: rgb(0, 0, 0); font-family: 宋体; font-size: 12px;"><span style="font-family: 微软雅黑;"><span style="color: rgb(255, 101, 55); font-size: 50px;">联系地址</span></span></strong><span style="color: rgb(0, 0, 0); font-size: 12px;"><span style="font-size: 60px;"></span><span style="font-size: 24px; color: rgb(198, 198, 198);">Address</span></span><br></div><div><div></div>
</div></div></div>
</div>
<div id="module483" _moduletype="1" _modulestyle="18" _moduleid="483" class="form form483 formStyle18" title="" style="position: absolute; top: 170px; left: 0px; width: 1200px; animation: none;"   >
<table class="formTop formTop483" cellpadding="0" cellspacing="0"><tbody><tr><td class="left"></td><td class="center"></td><td class="right"></td></tr></tbody></table>
<table class=" formMiddle formMiddle483" style="" cellpadding="0" cellspacing="0"><tbody><tr>
<td class="formMiddleLeft formMiddleLeft483"></td>
<td class="formMiddleCenter formMiddleCenter483 " valign="top">
<div class="formMiddleContent formMiddleContent483 fk-formContentOtherPadding" tabstyle="0">
<iframe id="mapframe483" class="J_mapframe" name="mapframe" frameborder="0" scrolling="no" height="370" width="1200" src="$!{basePath}/content/files/mapPanel.html"></iframe></div>
</td>
<td class="formMiddleRight formMiddleRight483"></td>
</tr></tbody></table>
<table class="formBottom formBottom483" cellpadding="0" cellspacing="0"><tbody><tr><td class="left left483"></td><td class="center center483"></td><td class="right right483"></td></tr></tbody></table>
<div class="clearfloat clearfloat483"></div>
<div class="coverDiv" style="position:absolute;width:66px;height:38px;left:570px;top:0;z-index:9028;"></div></div>
</div></div>
</div></div>
<div class="clearfloat clearfloat480"></div>
</div></div>
 </div>
 #parse("content/website/back/foot.vm")
 
<link type="text/css" href="$!{basePath}/content/files/fontsIco.min.css" rel="stylesheet">
 
	<script type="text/javascript">
		$(document).ready(function(){
		 
			$(window).scroll(function() {
				if ($(window).scrollTop() > 800)
					$('#siteBackToTop_small_box').show();
				else
					$('#siteBackToTop_small_box').hide();
			});
			$('#siteBackToTop_small_box').click(function() {
				$('html, body').animate({scrollTop: 0}, 1000);
			});
		});
	</script>
</body></html>